{% extends 'utilities/layout.html' %}
{% load static %}
{% load humanize %}
{% load gorev_sorgulama %}
{% block icerik %}
    <div class="main-container">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-11">
                    <div class="page-header">
                        <h1>{{ gorev.ad }}</h1>
                        <p class="lead">{{ gorev.aciklama }}</p>
                        <div class="d-flex align-items-center">
                            <ul class="avatars">
                                {% for uye in gorev.uyeler.all %}
                                    <li>
                                        <a href="#" data-toggle="tooltip" data-placement="top"
                                           title="{{ uye.username }}">
                                            <img alt="{{ uye.username }}" class="avatar"
                                                 src="{{ uye.profil_foto.url }}"/>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                            {% if request.user == gorev.proje.takim.sahip %}
                                <button class="btn btn-round" data-toggle="modal" data-target="#user-manage-modal">
                                    <i class="material-icons">add</i>
                                </button>
                            {% endif %}

                        </div>
                        <div>
                            <div class="progress">
                                <div class="progress-bar bg-success"
                                     style="width:{{ gorev|gorev_basari_durumu }}%;"></div>
                            </div>
                            <div class="d-flex justify-content-between text-small">
                                <div class="d-flex align-items-center">
                                    <i class="material-icons">playlist_add_check</i>
                                    <span>{{ gorev|gorev_kac_islem_var }}</span>
                                </div>
                                <span>Kalan: {{ gorev.bitis_tarihi|timeuntil }}</span>
                            </div>
                        </div>
                    </div>
                    <ul class="nav nav-tabs nav-fill" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#task" role="tab" aria-controls="task"
                               aria-selected="true">Görev</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#files" role="tab" aria-controls="files"
                               aria-selected="false">Dosyalar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#activity" role="tab" aria-controls="activity"
                               aria-selected="false">Aktiviteler</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="task" role="tabpanel">
                            <div class="content-list" data-filter-list="checklist">
                                <div class="row content-list-head">
                                    <div class="col-auto">
                                        <h3>İşlemler</h3>
                                        {% if request.user in gorev.uyeler.all %}
                                            <button class="btn btn-round" data-toggle="modal"
                                                    data-target="#islem-ekle-modal" data-title="Yeni İşlem">
                                                <i class="material-icons">add</i>
                                            </button>
                                        {% endif %}
                                    </div>
                                    <form class="col-md-auto">
                                        <div class="input-group input-group-round">
                                            <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">filter_list</i>
                            </span>
                                            </div>
                                            <input type="search" class="form-control filter-list-input"
                                                   placeholder="İşlemleri Filtrele" aria-label="Filter checklist">
                                        </div>
                                    </form>
                                </div>
                                <!--end of content list head-->
                                <div class="content-list-body">
                                    <form class="checklist">
                                        {% csrf_token %}
                                        {% for islem in islemler %}
                                            <div class="row">
                                                <div class="form-group col">
                            <span class="checklist-reorder">
                              <i class="material-icons">reorder</i>
                            </span>
                                                    <div class="custom-control custom-checkbox col">
                                                        <input type="checkbox" class="custom-control-input"
                                                               id="{{ islem.pk }}"
                                                                {% if islem.islem_sureci == 'bitti' %}
                                                               checked
                                                                {% endif %} >
                                                        <label class="custom-control-label"
                                                               for="{{ islem.pk }}" data-pk="{{ islem.pk }}"></label>
                                                        <div>
                                                            <input type="text" placeholder="Checklist item"
                                                                   value="{{ islem.ad }}"
                                                                   data-filter-by="value"/>
                                                            <div class="checklist-strikethrough"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--end of form group-->
                                            </div>
                                        {% endfor %}
                                        <input type="hidden" id="ajax_url"
                                               value="{% url 'gorev:gorev_ajax_islemler' %}">

                                    </form>
                                    <div class="drop-to-delete">
                                        <div class="drag-to-delete-title">
                                            <i class="material-icons">delete</i>
                                        </div>
                                    </div>
                                </div>
                                <!--end of content list body-->
                            </div>
                            <!--end of content list-->
                            <div class="content-list" data-filter-list="content-list-body">
                                <div class="row content-list-head">
                                    <div class="col-auto">
                                        <h3>Notlar</h3>
                                        {% if request.user in gorev.uyeler.all %}
                                            <button class="btn btn-round" data-toggle="modal"
                                                    data-target="#note-add-modal">
                                                <i class="material-icons">add</i>
                                            </button>
                                        {% endif %}
                                    </div>
                                    <form class="col-md-auto">
                                        <div class="input-group input-group-round">
                                            <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">filter_list</i>
                            </span>
                                            </div>
                                            <input type="search" class="form-control filter-list-input"
                                                   placeholder="Notları Filtrele" aria-label="Filter notes">
                                        </div>
                                    </form>
                                </div>
                                <!--end of content list head-->
                                <div class="content-list-body">
                                    {% for note in notlar %}
                                        <div class="card card-note">
                                            <div class="card-header">
                                                <div class="media align-items-center">
                                                    <img alt="{{ note.kullanici.username }}"
                                                         src="{{ note.kullanici.profil_foto.url }}"
                                                         class="avatar" data-toggle="tooltip"
                                                         data-title="{{ note.kullanici.username }}"
                                                         data-filter-by="alt"/>
                                                    <div class="media-body">
                                                        <h6 class="mb-0" data-filter-by="text">{{ note.ad }}</h6>
                                                    </div>
                                                </div>
                                                <div class="d-flex align-items-center">
                                                    <span data-filter-by="text">{{ note.olusturulma_tarihi|naturaltime }}</span>
                                                    {% if request.user == note.kullanici or request.user == note.gorev.proje.takim.sahip %}
                                                        <div class="ml-1 dropdown card-options">
                                                            <button class="btn-options" type="button"
                                                                    id="note-dropdown-button-1" data-toggle="dropdown"
                                                                    aria-haspopup="true" aria-expanded="false">
                                                                <i class="material-icons">more_vert</i>
                                                            </button>
                                                            <div class="dropdown-menu dropdown-menu-right">
                                                                <a class="dropdown-item" href="#">Güncelle</a>
                                                                <a class="dropdown-item text-danger" href="#">Sil</a>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="card-body" data-filter-by="text">
                                                <p>{{ note.aciklama }}</p>

                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <!--end of tab-->
                        <div class="tab-pane fade" id="files" role="tabpanel" data-filter-list="dropzone-previews">
                            <div class="content-list">
                                <div class="row content-list-head">
                                    <div class="col-auto">
                                        <h3>Dosyalar</h3>
                                    </div>
                                    <form class="col-md-auto">
                                        <div class="input-group input-group-round">
                                            <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">filter_list</i>
                            </span>
                                            </div>
                                            <input type="search" class="form-control filter-list-input"
                                                   placeholder="Dosyaları Fİltrele" aria-label="Filter Tasks">
                                        </div>
                                    </form>
                                </div>
                                <!--end of content list head-->
                                <div class="content-list-body">
                                    <ul class="d-none dz-template">
                                        <li class="list-group-item dz-preview dz-file-preview">
                                            <div class="media align-items-center dz-details">
                                                <ul class="avatars">
                                                    <li>
                                                        <div class="avatar bg-primary dz-file-representation">
                                                            <i class="material-icons">attach_file</i>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <div class="media-body d-flex justify-content-between align-items-center">
                                                    <div class="dz-file-details">
                                                        <a href="#" class="dz-filename">
                                                            <span data-dz-name></span>
                                                        </a>
                                                        <br>
                                                        <span class="text-small dz-size" data-dz-size></span>
                                                    </div>
                                                    <img alt="Loader" src="{% static 'img/loader.svg' %}"
                                                         class="dz-loading"/>
                                                    <div class="dropdown">
                                                        <button class="btn-options" type="button" data-toggle="dropdown"
                                                                aria-haspopup="true" aria-expanded="false">
                                                            <i class="material-icons">more_vert</i>
                                                        </button>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a class="dropdown-item" href="#">Download</a>
                                                            <a class="dropdown-item" href="#">Share</a>
                                                            <div class="dropdown-divider"></div>
                                                            <a class="dropdown-item text-danger" href="#"
                                                               data-dz-remove>Delete</a>
                                                        </div>
                                                    </div>
                                                    <button class="btn btn-danger btn-sm dz-remove" data-dz-remove>
                                                        İptal
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="progress dz-progress">
                                                <div class="progress-bar dz-upload" data-dz-uploadprogress></div>
                                            </div>
                                        </li>
                                    </ul>
                                    {% if request.user in gorev.uyeler.all or request.user == gorev.proje.takim.sahip %}
                                        <form class="dropzone"
                                              action="{% url 'gorev:gorev_dosya_ekle' gorev_slug=gorev.slug %}">
                                            {% csrf_token %}
                                            <span class="dz-message">Dosyaları sürükleyin veya tıklayın</span>
                                        </form>
                                    {% endif %}
                                    <ul class="list-group list-group-activity dropzone-previews flex-column-reverse">
                                        {% for dosya in dosyalar %}
                                            <li class="list-group-item">
                                                <div class="media align-items-center">
                                                    <ul class="avatars">
                                                        <li>
                                                            <div class="avatar bg-primary">
                                                                <i class="material-icons">insert_drive_file</i>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <img alt="{{ dosya.yukleyen.username }}"
                                                                 src="{{ dosya.yukleyen.profil_foto.url }}"
                                                                 class="avatar"
                                                                 data-title="{{ dosya.yukleyen.username }}"
                                                                 data-toggle="tooltip" data-filter-by="data-title"/>
                                                        </li>
                                                    </ul>
                                                    <div class="media-body d-flex justify-content-between align-items-center">
                                                        <div>
                                                            <a href="#" data-filter-by="text">{{ dosya.ad }}</a>
                                                            <br>
                                                            <span class="text-small"
                                                                  data-filter-by="text">{{ dosya.dosya.size }}</span>
                                                        </div>
                                                        <div class="dropdown">
                                                            <button class="btn-options" type="button"
                                                                    data-toggle="dropdown"
                                                                    aria-haspopup="true" aria-expanded="false">
                                                                <i class="material-icons">more_vert</i>
                                                            </button>
                                                            <div class="dropdown-menu dropdown-menu-right">
                                                                <a class="dropdown-item"
                                                                   href="{% url 'gorev:gorev_dosya_indir' dosya_slug=dosya.slug %}">İndir</a>
                                                                {% if request.user in gorev.uyeler.all or request.user == gorev.proje.takim.sahip %}
                                                                    <div class="dropdown-divider"></div>
                                                                    <a class="dropdown-item text-danger"
                                                                       href="{% url 'gorev:gorev_dosya_sil' dosya_slug=dosya.slug %}">Sil</a>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <!--end of content list-->
                        </div>
                        <div class="tab-pane fade" id="activity" role="tabpanel" data-filter-list="list-group-activity">
                            <div class="content-list">
                                <div class="row content-list-head">
                                    <div class="col-auto">
                                        <h3>Aktiviteler</h3>
                                    </div>
                                    <form class="col-md-auto">
                                        <div class="input-group input-group-round">
                                            <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">filter_list</i>
                            </span>
                                            </div>
                                            <input type="search" class="form-control filter-list-input"
                                                   placeholder="Aktiviteleri Filtrele" aria-label="Filter activity">
                                        </div>
                                    </form>
                                </div>
                                <!--end of content list head-->
                                <div class="content-list-body">
                                    <ol class="list-group list-group-activity">

                                        {% for aktivite in aktiviteler %}
                                            <li class="list-group-item">
                                                <div class="media align-items-center">
                                                    <ul class="avatars">
                                                        <li>
                                                            <div class="avatar bg-primary">
                                                                <i class="material-icons">edit</i>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <img alt="{{ aktivite.kullanici.username }}"
                                                                 src="{{ aktivite.kullanici.profil_foto.url }}"
                                                                 class="avatar" data-filter-by="alt"/>
                                                        </li>
                                                    </ul>
                                                    <div class="media-body">
                                                        <div>
                                                            <span class="h6"
                                                                  data-filter-by="text">{{ aktivite.kullanici.username }}</span>
                                                            <span data-filter-by="text">{{ aktivite.aktivite }}</span>
                                                        </div>
                                                        <span class="text-small"
                                                              data-filter-by="text">{{ aktivite.olusturulma_tarihi|naturaltime }}</span>
                                                    </div>
                                                </div>
                                            </li>

                                        {% endfor %}


                                    </ol>
                                </div>
                            </div>
                            <!--end of content list-->
                        </div>
                    </div>
                    <form class="modal fade" id="islem-ekle-modal" tabindex="-1" aria-hidden="true"
                          action="{% url 'gorev:islem_ekle' gorev_slug=gorev.slug %}" method="post">
                        {% csrf_token %}
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Yeni İşlem</h5>
                                    <button type="button" class="close btn btn-round" data-dismiss="modal"
                                            aria-label="Close">
                                        <i class="material-icons">close</i>
                                    </button>
                                </div>
                                <!--end of modal head-->
                                <div class="modal-body">
                                    <div class="form-group row align-items-center">
                                        <label class="col-3">Ad</label>
                                        <input class="form-control col" type="text" placeholder="İşlem Adı"
                                               name="ad"/>
                                    </div>
                                </div>
                                <!--end of modal body-->
                                <div class="modal-footer">
                                    <button role="button" class="btn btn-primary" type="submit">
                                        Not Ekle
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>


                    <form class="modal fade" id="note-add-modal" tabindex="-1" aria-hidden="true"
                          action="{% url 'gorev:not_ekle' gorev_slug=gorev.slug %}" method="post">
                        {% csrf_token %}
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Yeni Not</h5>
                                    <button type="button" class="close btn btn-round" data-dismiss="modal"
                                            aria-label="Close">
                                        <i class="material-icons">close</i>
                                    </button>
                                </div>
                                <!--end of modal head-->
                                <div class="modal-body">
                                    <div class="form-group row align-items-center">
                                        <label class="col-3">Başlık</label>
                                        <input class="form-control col" type="text" placeholder="Not Başlığı"
                                               name="ad"/>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-3">İçerik</label>
                                        <textarea class="form-control col" rows="6" placeholder="Not İçeriği"
                                                  name="aciklama"></textarea>
                                    </div>
                                </div>
                                <!--end of modal body-->
                                <div class="modal-footer">
                                    <button role="button" class="btn btn-primary" type="submit">
                                        Not Ekle
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
{% endblock icerik %}
{% block ozel_js %}
    <script src="{% static 'js/prepare_ajax.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/gorev_detay.js' %}"></script>
{% endblock ozel_js %}
