{% extends 'utilities/layout.html' %}
{% load static %}
{% load gorev_sorgulama %}
{% block icerik %}
    <h1>{{ takim.ad }}</h1>
    <ul>
        <h4>Takım Üyeleri</h4>
        {% for uye in uyeler %}
            <li>{{ uye.username }}</li>
        {% endfor %}
    </ul>
    <ul>
        <h4>Projeler</h4>
        {% for proje in projeler %}
            <li><a href="{% url 'proje:proje_detay' proje_slug=proje.slug %}">{{ proje.ad }}   |   Görev Durumu : {{ proje|proje_kac_gorev_var }}</a></li>
        {% endfor %}

    </ul>
{% endblock %}