{% extends 'utilities/layout.html' %}
{% load static %}
{% load gorev_sorgulama %}
{% block icerik %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-11">
                <div class="page-header">
                    <h1>{{ takim.ad }} &#x2615;</h1>
                    <p class="lead">{{ takim.aciklama }}</p>
                    <div class="d-flex align-items-center">
                        <ul class="avatars">
                            {% for uye in uyeler %}
                                <li>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="{{ uye.username }}">
                                        <img alt="{{ uye.username }}" class="avatar" src="{{ uye.profil_foto.url }}"/>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                        {% if request.user == takim.sahip %}
                            <button class="btn btn-round" data-toggle="modal" data-target="#user-invite-modal">
                                <i class="material-icons">add</i>
                            </button>
                        {% endif %}
                    </div>
                </div>
                <hr>
                <ul class="nav nav-tabs nav-fill" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#projects" role="tab"
                           aria-controls="projects" aria-selected="true">Projeler</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#members" role="tab" aria-controls="members"
                           aria-selected="false">Üyeler</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="projects" role="tabpanel"
                         data-filter-list="content-list-body">
                        <div class="content-list">
                            <div class="row content-list-head">
                                <div class="col-auto">
                                    <h3>Projeler</h3>
                                    {% if request.user == takim.sahip %}
                                        <button class="btn btn-round" data-toggle="modal"
                                                data-target="#project-add-modal">
                                            <i class="material-icons">add</i>
                                        </button>
                                    {% endif %}
                                </div>
                                <form class="col-md-auto">
                                    <div class="input-group input-group-round">
                                        <div class="input-group-prepend">
                              <span class="input-group-text">
                                <i class="material-icons">filter_list</i>
                              </span>
                                        </div>
                                        <input type="search" class="form-control filter-list-input"
                                               placeholder="Projeleri Filtrele" aria-label="Filter Projects">
                                    </div>
                                </form>
                            </div>
                            <!--end of content list head-->
                            <div class="content-list-body row">

                                {% for proje in projeler %}
                                    <div class="col-lg-6">
                                        <div class="card card-project">

                                            <div class="progress">
                                                <div class="progress-bar bg-danger" role="progressbar"
                                                     style="width: {{ proje|proje_basari_durumu }}%"
                                                     aria-valuenow="{{ proje|proje_basari_durumu }}" aria-valuemin="0"
                                                     aria-valuemax="100"></div>
                                            </div>

                                            <div class="card-body">
                                                <div class="dropdown card-options">
                                                    <button class="btn-options" type="button"
                                                            id="project-dropdown-button-1"
                                                            data-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false">
                                                        <i class="material-icons">more_vert</i>
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a href="" id="proje-yonet" data-slug="{{ proje.slug }}"
                                                           class="dropdown-item" data-toggle="modal"
                                                           data-target="#project-manage-modal">Yönet</a>
                                                    </div>
                                                </div>
                                                <div class="card-title">
                                                    <a href="{% url 'proje:proje_detay' proje_slug=proje.slug %}">
                                                        <h5 data-filter-by="text">{{ proje.ad }}</h5>
                                                    </a>
                                                    <input type="hidden" id="ajax-url"
                                                           value="{% url 'proje:proje_ajax_islemler' %}">
                                                </div>
                                                <ul class="avatars">

                                                    {% for uye in proje.uyeler.all %}
                                                        <li>
                                                            <a href="#" data-toggle="tooltip"
                                                               title="{{ uye.username }}">
                                                                <img alt="{{ uye.username }}" class="avatar"
                                                                     src="{{ uye.profil_foto.url }}"
                                                                     data-filter-by="alt"/>
                                                            </a>
                                                        </li>

                                                    {% endfor %}


                                                </ul>
                                                <div class="card-meta d-flex justify-content-between">
                                                    <div class="d-flex align-items-center">
                                                        <i class="material-icons mr-1">playlist_add_check</i>
                                                        <span class="text-small">{{ proje|proje_kac_gorev_var }}</span>
                                                    </div>
                                                    <span class="text-small"
                                                          data-filter-by="text">Kalan: {{ proje.bitis_tarihi|timeuntil }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                {% endfor %}


                            </div>
                            <!--end of content list body-->
                        </div>
                        <!--end of content list-->
                    </div>
                    <!--end of tab-->
                    <div class="tab-pane fade" id="members" role="tabpanel" data-filter-list="content-list-body">
                        <div class="content-list">
                            <div class="row content-list-head">
                                <div class="col-auto">
                                    <h3>Üyeler</h3>
                                    {% if request.user == takim.sahip %}
                                        <button class="btn btn-round" data-toggle="modal"
                                                data-target="#user-invite-modal">
                                            <i class="material-icons">add</i>
                                        </button>
                                    {% endif %}
                                </div>
                                <form class="col-md-auto">
                                    <div class="input-group input-group-round">
                                        <div class="input-group-prepend">
                              <span class="input-group-text">
                                <i class="material-icons">filter_list</i>
                              </span>
                                        </div>
                                        <input type="search" class="form-control filter-list-input"
                                               placeholder="Üyeleri Filtrele" aria-label="Filter Members">
                                    </div>
                                </form>
                            </div>
                            <!--end of content list head-->
                            <div class="content-list-body row">
                                {% for uye in uyeler %}
                                    <div class="col-6">
                                        <a class="media media-member" href="#">
                                            <img alt="{{ uye.username }}" src="{{ uye.profil_foto.url }}"
                                                 class="avatar avatar-lg"/>
                                            <div class="media-body">
                                                <h6 class="mb-0" data-filter-by="text">{{ uye.username }}</h6>
                                                <span data-filter-by="text" class="text-body">{{ uye.title }}</span>
                                            </div>
                                        </a>
                                    </div>

                                {% endfor %}

                            </div>
                        </div>
                        <!--end of content list-->
                    </div>
                </div>
                <form class="modal fade" id="user-invite-modal" tabindex="-1" aria-hidden="true"
                      action="{% url 'takim:takim_uye_ekle' takim_slug=takim.slug %}" method="post">
                    {% csrf_token %}
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Takıma Üye Davet Et</h5>
                                <button type="button" class="close btn btn-round" data-dismiss="modal"
                                        aria-label="Close">
                                    <i class="material-icons">close</i>
                                </button>
                            </div>
                            <!--end of modal head-->
                            <div class="modal-body">
                                <p>Sisteme kayıtlı kullanıcılardan birini takımına davet et</p>
                                <div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                              <span class="input-group-text">
                                <i class="material-icons">email</i>
                              </span>
                                        </div>
                                        <input type="email" class="form-control"
                                               placeholder="Davet Edilecek Kullanıcının Mail Adresi"
                                               aria-label="Recipient email address" name="email">
                                    </div>
                                    {#                                    <div class="text-right text-small mt-2">#}
                                    {#                                        <a href="#" role="button">Add another recipient</a>#}
                                    {#                                    </div>#}
                                </div>
                            </div>
                            <!--end of modal body-->
                            <div class="modal-footer">
                                <button role="button" class="btn btn-primary" type="submit">
                                    Kullanıcıyı Davet Et
                                </button>
                            </div>
                        </div>
                    </div>
                </form>

                <form class="modal fade" id="project-add-modal" tabindex="-1" aria-hidden="true"
                      action="{% url 'proje:proje_ekle' takim_slug=takim.slug %}" method="post">
                    {% csrf_token %}
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Yeni Proje</h5>
                                <button type="button" class="close btn btn-round" data-dismiss="modal"
                                        aria-label="Close">
                                    <i class="material-icons">close</i>
                                </button>
                            </div>
                            <!--end of modal head-->
                            <ul class="nav nav-tabs nav-fill" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="project-add-details-tab" data-toggle="tab"
                                       href="#project-add-details" role="tab" aria-controls="project-add-details"
                                       aria-selected="true">Detaylar</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="project-add-members-tab" data-toggle="tab"
                                       href="#project-add-members" role="tab" aria-controls="project-add-members"
                                       aria-selected="false">Üyeler</a>
                                </li>
                            </ul>
                            <div class="modal-body">
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="project-add-details" role="tabpanel">
                                        <h6>Genel Detaylar</h6>
                                        <div class="form-group row align-items-center">
                                            <label class="col-3">Ad</label>
                                            <input class="form-control col" type="text" placeholder="Proje Adı"
                                                   name="ad"/>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-3">Açıklama</label>
                                            <textarea class="form-control col" rows="3"
                                                      placeholder="Proje Açıklaması"
                                                      name="aciklama"></textarea>
                                        </div>
                                        <hr>
                                        <h6>Zaman Aralığı</h6>
                                        <div class="form-group row align-items-center">
                                            <label class="col-3">Başlangıç Tarihi</label>
                                            <input class="form-control col" type="text" name="baslangic_tarih"
                                                   placeholder="Tarih Seçin" data-flatpickr
                                                   data-alt-input="true"/>
                                        </div>
                                        <div class="form-group row align-items-center">
                                            <label class="col-3">Bitiş Tarihi</label>
                                            <input class="form-control col" type="text" name="bitis_tarih"
                                                   placeholder="Tarih Seçin" data-flatpickr
                                                   data-alt-input="true"/>
                                        </div>
                                        <div class="alert alert-warning text-small" role="alert">
                                            <span>Tarih aralığını istediğiniz zaman değiştirebilirsiniz.</span>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="project-add-members" role="tabpanel">
                                        <div class="users-manage" data-filter-list="form-group-users">
                                            <div class="mb-3">
                                                <ul class="avatars text-center">
                                                    {% for uye in uyeler %}
                                                        <li>
                                                            <img alt="{{ uye.username }}"
                                                                 src="{{ uye.profil_foto.url }}"
                                                                 class="avatar" data-toggle="tooltip"
                                                                 data-title="{{ uye.username }}"/>
                                                        </li>
                                                    {% endfor %}

                                                </ul>
                                            </div>
                                            <div class="input-group input-group-round">
                                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                    <i class="material-icons">filter_list</i>
                                  </span>
                                                </div>
                                                <input type="search" class="form-control filter-list-input"
                                                       placeholder="Üyeleri Filtrele" aria-label="Filter Members">
                                            </div>
                                            <div class="form-group-users">

                                                {% for uye in uyeler %}
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input"
                                                               id="{{ uye.username }}"
                                                               name="uyeler" value="{{ uye.username }}">
                                                        <label class="custom-control-label" for="{{ uye.username }}">
                                    <span class="d-flex align-items-center">
                                      <img alt="{{ uye.username }}" src="{{ uye.profil_foto.url }}"
                                           class="avatar mr-2"/>
                                      <span class="h6 mb-0" data-filter-by="text">{{ uye.username }}</span>
                                    </span>
                                                        </label>
                                                    </div>

                                                {% endfor %}

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end of modal body-->
                            <div class="modal-footer">
                                <button role="button" class="btn btn-primary" type="submit">
                                    Proje Oluştur
                                </button>
                            </div>
                        </div>
                    </div>
                </form>










                <form class="modal fade" id="project-manage-modal" tabindex="-1" aria-hidden="true"
                      action="" method="post">
                    {% csrf_token %}
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Proje Düzenle</h5>
                                <button type="button" class="close btn btn-round" data-dismiss="modal"
                                        aria-label="Close">
                                    <i class="material-icons">close</i>
                                </button>
                            </div>
                            <!--end of modal head-->
                            <ul class="nav nav-tabs nav-fill" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="project-add-details-tab" data-toggle="tab"
                                       href="#project-add-details" role="tab" aria-controls="project-add-details"
                                       aria-selected="true">Detaylar</a>
                                </li>
                            </ul>
                            <div class="modal-body">
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="project-add-details" role="tabpanel">
                                        <h6>Genel Detaylar</h6>
                                        <div class="form-group row align-items-center">
                                            <label class="col-3">Ad</label>
                                            <input class="form-control col" type="text" placeholder="Proje Adı"
                                                   name="duzenle_ad" id="duzenle_ad"/>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-3">Açıklama</label>
                                            <textarea class="form-control col" rows="3"
                                                      placeholder="Proje Açıklaması"
                                                      name="duzenle_aciklama" id="duzenle_aciklama"></textarea>
                                        </div>
                                        <hr>
                                        <h6>Zaman Aralığı</h6>
                                        <div class="form-group row align-items-center">
                                            <label class="col-3">Başlangıç Tarihi</label>
                                            <input class="form-control col" type="text" name="duzenle_baslangic_tarih"
                                                   placeholder="Tarih Seçin" data-flatpickr id="duzenle_baslangic_tarih"
                                                   data-alt-input="true" value=""/>
                                        </div>
                                        <div class="form-group row align-items-center">
                                            <label class="col-3">Bitiş Tarihi</label>
                                            <input class="form-control col" type="text" name="duzenle_bitis_tarih"
                                                   placeholder="Tarih Seçin" data-flatpickr id="duzenle_bitis_tarih"
                                                   data-alt-input="true"/>
                                        </div>
                                        <div class="alert alert-warning text-small" role="alert">
                                            <span>Tarih aralığını istediğiniz zaman değiştirebilirsiniz.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end of modal body-->
                            <div class="modal-footer">
                                <button role="button" class="btn btn-primary" type="submit">
                                    Proje Güncelle
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}
{% block ozel_js %}
    <script src="{% static 'js/prepare_ajax.js' %}"></script>
    <!-- ajax ile post işleminden önce hazırlık yapıyoruz (csrf token) -->
    <script src="{% static 'js/takim_detay.js' %}"></script>
{% endblock %}