{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/utilities/Toast.min.css' %}">
    <script src="{% static 'js/utilities/Toast.min.js' %}"></script>
    {% block ozel_css %} {% endblock %}
    <title>KANBAN Uygulaması</title>
</head>
<body>
{% block icerik %}
{% endblock icerik %}

{% if messages %}
    {% for message in messages %}
        <script>
            new Toast({
                message: '{{ message }}',
                type: '{{ message.tags }}'
            });

        </script>
    {% endfor %}
{% endif %}
<script src="{% static 'js/utilities/jquery.js' %}"></script>
{% block ozel_js %}
{% endblock ozel_js %}
</body>
</html>