{% extends 'utilities/layout.html' %}
{% load static %}
{% load gorev_sorgulama %}
{% block icerik %}
    <h1>Hoşgeldin {{ kullanici.username }}</h1>
    <ul>
        <li>Ad: {{ kullanici.first_name }}</li>
        <li>Soyad: {{ kullanici.last_name }}</li>
        <li>Lokasyon: {{ kullanici.lokasyon }}</li>
        <li>Bio: {{ kullanici.title }}</li>
    </ul>
    <img src="{{ kullanici.profil_foto.url }}" alt="">
    <br><br><br><br>
    <button><a style="text-decoration: none;" href="{% url 'kullanici:cikis_yap' %}">Çıkış Yap</a></button>
    <br><br><br><br>
    <form action="{% url 'kullanici:kullanici_guncelle' %}" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <input type="text" placeholder="Ad" name="ad">
        <input type="text" placeholder="SoyAd" name="soyad">
        <input type="email" placeholder="Email" name="email">
        <input type="text" placeholder="Lokasyon" name="lokasyon">
        <input type="text" placeholder="Ünvan" name="title">
        <input type="file" name="profil_foto">
        <input type="submit" value="Güncelle">
    </form>
    <br><br><br>
    <form action="{% url 'kullanici:kullanici_sifre_guncelle' %}" method="post" id="sifre_guncelle_form">
        {% csrf_token %}
        <input type="password" name="eski_sifre" placeholder="Eski Şifre" id="eski_sifre">
        <input type="password" name="yeni_sifre" placeholder="Yeni Şifre" id="yeni_sifre">
        <input type="password" name="yeni_sifre_kontrol" placeholder="Yeni Şifre" id="yeni_sifre_kontrol">
        <input type="submit" value="Şifre Güncelle" id="sifre_guncelle_btn">
    </form>
    <hr>
    <ul>
    <h4>Görevler</h4>
        {% for gorev in gorevler %}
            <li>{{ gorev.ad }}</li>
            <ul>
            Görev Üyeleri
            {% for uye in gorev.uyeler.all %}
        <li>{{ uye }}</li>
            {% endfor %}

            </ul>
        {% endfor %}
    </ul>
    <hr>
    <ul>
    <h4>Projeler</h4>
        {% for proje in projeler %}
            <li>{{ proje.ad }}   | Görev Durumu: {{ proje|proje_kac_gorev_var }}</li>
            <ul>
                Proje Üyeleri
            {% for uye in proje.takim.uyeler.all %}
                <li>{{ uye }}</li>
            {% endfor %}

            </ul>
        {% endfor %}
    </ul>
    <hr>
    <ul>
    <h4>Takımlar</h4>
        {% for takim in takimlar %}
            <li><a href="{% url 'takim:takim_detay' takim_slug=takim.slug %}">{{ takim.ad }}  |  Proje Sayısı : {{ takim.projeler.count }}  | Üye Sayısı : {{ takim.uyeler.count }}</a></li>
           <ul>
           {% for proje in takim.projeler.all %}
                <li>{{ proje }}</li>
           {% endfor %}

           </ul>
        {% endfor %}
    </ul>


{% endblock %}
{% block ozel_js %}
    <script src="{% static 'js/profile.js' %}"></script>
{% endblock %}